// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin-top: 24px;
}

footer {
  margin-top: 50px;
}

h1 {
  margin-bottom: 50px !important;
}

.bottom-link {
  margin-top: 32px;
  font-size: 18px;
}

.task-list {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  background: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  font-size: 18px;
}

.boxed {
  margin: 10px 0px;
  background: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  font-size: 18px;
}

.completed {
  font-size: 14px;
}

